Dev/AdeptProject/
License.MKL.gini
MKL_*
*.STB
Debug
*.ps1
SRC/Scripts/Script/Use/Lnk/\#Untitled-1\#
Private
Private_JQL
\#*\#
*.mp4
Make_Alpha_House_Of_Cards
Dev/Promo/Aziella Mascotte.pdn
Dev/Promo/Aziella Mascotte.png
Planned


# To prevent copyright infringements 
# ignore these directories.
#
# (These authors do allow their work to be included
# in games and such, but they do not always allow
# their files to be distributed separataly, which is
# acctually precisely what github, bitbucket and
# similar services do. Hence their inclusion in 
# this .gitignorefile
# The SCI builder should as a result be able to
# ignore this and games built should run normally, 
# however this stuff is then not included (and 
# the game can work without them). Full game 
# releases have this all covered (of course)

Pixabay
Mixit.co
MyFreeTextures


# Pre-Assets is being ignored as it's only for my purposes
# to sort a few things out before actually putting things into
# the game.
Dev/Pre-Assets
Dev/Rule Videos/House Of Cards 3_9_2024 1_50_37 PM.png
Dev/webp.rar
/Dev/Inno
SRC/Assets/Public Domain/GFX/Cards/Deck - Anglo-American/ace_of_spades.png
